.quote-div{
    width: 50vw;
    height: 50vh;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    background-color: #0d0d0d;
    padding: 2vw;
    border-radius: 2%;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 20px;
}
.container{
    width: fit-content;
    margin: auto auto;
}
.title{
    font-size: 1.9rem;
    margin-bottom: 20px;;
}
.developer{
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 20px;
}
.center{
    width: fit-content;
    margin: 0 auto;
}
.right{
   position: absolute;
   left: auto;
   bottom: 5%;
}
.quote-p{
    text-wrap: wrap;
}
.button{
    background-color: aliceblue;
    color: #0d0d0d;
    border: none;
    box-shadow: 1px;
    padding: 10px;
    border-radius: 2%;
}
@media screen and (max-width: 760px) {
    .quote-div{
        width: 63vw;
        height: 43vh;
        display: flex;
        flex-direction: column;
        margin: auto;
        background-color: #0d0d0d;
        padding: 2vw;
        border-radius: 2%;
        margin-left: 2vw;
        margin-right: 2vw;
    }
    .title{
        font-size: 1.7rem;
    }
    .developer{
        font-size: 1.2rem;
        margin-bottom: 20px;
        font-weight: 600;
    }
}
@media screen and (max-width: 440px) {
    .quote-div{
        width: 70vw;
        height: 30vh;
        display: flex;
        flex-direction: column;
        background-color: #0d0d0d;
        padding: 2vw;
        border-radius: 2%;
        margin-left: 2vw;
        margin-right: 2vw;
    }
    .right{
        left: auto;
        font-size: 0.8rem;
    }
    .button{
        padding: 8px;
    }
    .title{
        font-size: 1.5rem;
    }
    .developer{
        font-size: 1.2rem;
        margin-bottom: 20px;
        font-weight: 600;
    }
}