*{
    font-size: 20px;
    margin: 0;
    padding: 0;
}
body{
    background-color: #232B2B;
    color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Raleway;
}
p{
    font-size: 1.2rem;
    text-wrap: wrap;
    text-align: center;
    font-weight: 600;
}
@media screen and (max-width: 760px) {
    *{
        font-size: 14px;
    }
    p{
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 440px) {
    *{
        font-size: 13px;
    }
    p{
        font-size: 1rem;
    }
    body{
        position: absolute;
        font-family: Raleway;
    }
}